
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: black;
    height: 4em;
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

.Logo{
    color: rgb(255, 255, 255);
}

.link-list {
    display: flex;
    list-style: none;
}

.link{

    color: rgb(255, 255, 255);
    margin-left: 2rem;
    text-decoration: none;
}